.navbar {
    background-color: transparent;
    transition: all 0.5s;
    transition-timing-function: ease;

}

.navbar-scrolled {
    background-color: rgb(18, 18, 18);

}

#navbar_mobile {
    background-color: transparent;
    transition: all 0.5s;
    transition-timing-function: ease;
}

#logo {
    transition: all 0.5s;
    transition-timing-function: ease;
}

.nav-text .nav-text2 .nav-text3 .nav-text4 {
    transition: all 0.5s;
    transition-timing-function: ease;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url('images/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(253, 253, 253);
}

.dark-section {
    background-color: rgb(38, 38, 38);

    color: rgb(253, 253, 253);
}

.light-section {
    background-color: rgb(253, 253, 253);

    color: rgb(38, 38, 38);
}



section h1::first-letter {
    color: rgb(235, 18, 2);
}

.carousel .carousel-item {
    height: 90vh;
}

@media (max-width: 990px) {
    .carousel .carousel-item {
        height: 70vh;
    }
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 600px;
}

.image-section {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url(images/backgroun.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(253, 253, 253);
}

/*CELY blok */
.social ul {
    position: relative;
    left: -30px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    display: flex;
}

.social ul li {
    list-style: none;

}

/*itemy v bloku */
.social ul li a {
    display: block;
    position: relative;
    width: 35px;
    height: 35px;
    line-height: 32.5px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(253, 253, 253);
    margin: 0 30px;
    transition: .5s;
}

.social ul li a span {
    position: absolute;
    transition: transform .5s;
}

/*xove ohraničenie */
.social ul li a span:nth-child(1),
.social ul li a span:nth-child(3) {
    width: 100%;
    height: 3px;
    background: rgb(253, 253, 253);
}

.social ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}

.social ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.social ul li a span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

.social ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}


/*yove ohraničenie */
.social ul li a span:nth-child(2),
.social ul li a span:nth-child(4) {
    width: 3px;
    height: 100%;
    background: rgb(253, 253, 253);
}

.social ul li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
}

.social ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition: transform .5s;
}

.social ul li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
}

.social ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition: transform .5s;
}

/*hover icony */
.social .facebook:hover {
    color: #3b5998;
}

.social .facebook:hover span {
    background: #3b5998;
}

.social .instagram:hover {
    color: #c32aa3;
}

.social .instagram:hover span {
    background: #c32aa3;
}

.social .youtube:hover {
    color: #dd4b39;
}

.social .youtube:hover span {
    background: #dd4b39;
}

.social ul li a:hover:nth-child(3) {
    color: #c32aa3;
}

.social ul li a:hover:nth-child(4) {
    color: #dd4b39;
}



#myBtn {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    background-color: rgb(235, 18, 2);
    color: rgb(253, 253, 253);
    width: 40px;
    height: 40px;
    font-size: 20px;

    border-radius: 200px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    justify-content: center;
}



#myBtn:hover {
    background-color: rgb(18, 18, 18);

    transform: scale(1.3);
}

#statut iframe{
    overflow: auto;
}

@media (max-width: 990px) {
    #statut {
        width: 100%;
    }
}